blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  margin: 0;
  margin-bottom: 16px;
  p {
    margin:0;
  }
}

a {
  color: #0366d6;
  text-decoration: none;
}

 h1 {
  font-size: 1.75em;
  font-weight: 600;
  margin: 24px 0 16px;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaeaea;
  color: rgba(0, 0, 0, 0.85)
}

 h1:first-child {
  margin-top: 0
}

 h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 24px 0 16px;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaeaea;
  color: rgba(0, 0, 0, 0.85)
}

 h3 {
  margin: 24px 0 16px;
  font-size: 1.3em
}

 h4 {
  margin: 24px 0 16px;
  font-size: 1.2em
}

 h5 {
  margin: 24px 0 16px;
  font-size: 1em
}

 h6 {
  margin: 24px 0 16px;
  font-size: 0.95em
}